*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.sidebar{
    position: relative;
    width: 60px;
    height: 100%;
    min-height: 100vh;
    background-color: blue;
    box-shadow: 8px 0px 7px 1px rgba(0, 0, 0, 0.78);
    overflow-x: hidden;
    transition: all 0.5s;
    position: fixed;
    z-index: 1;
    margin-left: -12px;
}
.sidebar.active{
    width: 200px;
    transition: all 1.5s;
}
.list{
    padding-top: 50px;
}
.ul-list{
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
}
.sidebar .enlace{
    color: white;
    text-decoration: none;
    display: flex;
}
.sidebar .icon{
    padding-left: 15px;
}
.sidebar .title{
    padding-left: 30px;
    white-space: nowrap;
}
/* bton */
#bton{
    display: none;
}
.hamburger{
    padding: 15px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    margin-top: 20px;
    /* margin-left: 10px; */
}
.line{
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: transform 0.25s, opacity 0.35s;
}
.line--top{
    transform: translateY(7px);
}
.line--bottom{
    transform: translateY(-7px);
}
#bton:checked~.line--top{
    transform: rotate(45deg);
}
#bton:checked~.line--midle{
    transform: translateX(16px);
    opacity: 0;
}
#bton:checked~.line--bottom{
    transform: rotate(-45deg);
}
.Me img{
    width:100%;
    height: 250px;
    margin-left: 12px;
}
.sobre-mi{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
.sobre-mi img{
    border-radius: 50%;
}
.cont-letras{
    margin-left: 50px;
}
.cont-letras .letras{
    color: blue;
    position: relative;
    top: 60px;
    left: 10px;
    display: inline-block;
    font-size: 40px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 #ccc,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(255, 255, 255, .4);
    animation: salto .9s ease infinite alternate;
}
.cont-letras .letras:nth-child(2){animation-delay: .1s;}
.cont-letras .letras:nth-child(3){animation-delay: .2s;}
.cont-letras .letras:nth-child(4){animation-delay: .3s;}
.cont-letras .letras:nth-child(5){animation-delay: .4s;}
.cont-letras .letras:nth-child(6){animation-delay: .5s;}
.cont-letras .letras:nth-child(7){animation-delay: .6s;}
.cont-letras .letras:nth-child(8){animation-delay: .7s;}
.cont-letras .letras:nth-child(9){animation-delay: .8s;}
.cont-letras .letras:nth-child(10){animation-delay: .9s;}
.cont-letras .letras:nth-child(11){animation-delay: 1s;}
.cont-letras .letras:nth-child(12){animation-delay: 1.1s;}
.cont-letras .letras:nth-child(13){animation-delay: 1.2s;}
.cont-letras .letras:nth-child(14){animation-delay: 1.3s;}
@keyframes salto{
    100%{
        top: -20px;
    }
}
.pie{
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    z-index: 2;
}