/* *{
    font-family: 'Courier New', Courier, monospace;
} */
.sidebar{
    position: relative;
    width: 70px;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    box-shadow: 8px 0px 7px 1px rgba(13,255,244,0.78);
    margin-left: -15px;
    transition: all 0.5s;
    overflow-x: hidden;
    position: fixed;
    z-index: 1;
}
.sidebar.active{
    width: 220px;
    transition: all 1.5s;
}
.sidebar .list-ul{
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
}
.sidebar a{
    color: aqua;
    text-decoration: none;
    display: flex;
    margin: 0 8px;
    padding: 3px 0;
}
.sidebar a:hover{
    color: aquamarine;
    border: solid 1px;
    border-radius: 5px;
}
.list{
    padding-top: 40px;
}
.sidebar .icon{
    padding-left: 13px;
}
.sidebar .title{
    padding-left: 30px;
    white-space: nowrap;
}
.sidebar .ul-title{
    list-style: none;
    padding-left: 0;
}
.sidebar h1{
    display: flex;
    color: aqua;
}
.sidebar .icon-1{
    padding-left: 20px;
}
.sidebar .title-1{
    padding-left: 25px;
    white-space: nowrap;
}
.sidebar hr{
    color: aqua;
}
/* bton-nav */
#bton{
    display: none;
}
.hamburger{
    padding: 20px;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    margin-left: 15px;
}
.line{
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: aqua;
    border-radius: 3px;
    transition: transform 0.25s, opacity 0.35s;
}
.line--top{
    transform: translateY(7px);
}
.line--bottom{
    transform: translateY(-7px);
}
#bton:checked~.line--top{
    transform: rotate(45deg);
}
#bton:checked~.line--midle{
    transform: translateX(16px);
    opacity: 0;
}
#bton:checked~.line--bottom{
    transform: rotate(-45deg);
}
/* img cabeza */
.Me img{
    width: 100%;
    height: 250px;
    margin-left: 12px;
}
.sobre-mi{
    text-align: center;
    color: aqua;
    margin-left: 50px;
}
.sobre-mi img{
    border-radius: 50%;
}
/* letras */

.logo{
    background: linear-gradient(90deg, rgb(243, 210, 63), aqua );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.cont-letras{
    margin-left: 100px;
}
.cont-letras .letras{
    color: aqua;
    position: relative;
    top: 60px;
    left: 10px;
    display: inline-block;
    font-size: 40px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #ccc,
    0 3px 0 #ccc,
    0 4px 0 #ccc,
    0 5px 0 #ccc,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(255, 255, 255, .4);
    animation: salto .9s ease infinite alternate;
}
.cont-letras .letras:nth-child(2){animation-delay: .1s;}
.cont-letras .letras:nth-child(3){animation-delay: .2s;}
.cont-letras .letras:nth-child(4){animation-delay: .3s;}
.cont-letras .letras:nth-child(5){animation-delay: .4s;}
.cont-letras .letras:nth-child(6){animation-delay: .5s;}
.cont-letras .letras:nth-child(7){animation-delay: .6s;}
.cont-letras .letras:nth-child(8){animation-delay: .7s;}
.cont-letras .letras:nth-child(9){animation-delay: .8s;}
.cont-letras .letras:nth-child(10){animation-delay: .9s;}
.cont-letras .letras:nth-child(11){animation-delay: 1s;}
.cont-letras .letras:nth-child(12){animation-delay: 1.1s;}
.cont-letras .letras:nth-child(13){animation-delay: 1.2s;}
.cont-letras .letras:nth-child(14){animation-delay: 1.3s;}
@keyframes salto{
    100%{
        top: -20px;
    }
}
